@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

body{
    background-color: black;
  background-image: url(assets/bg.jpg);
  
}

header{
    display: flex;
    margin-left: 7px;
    background-color: black;
   width: 99%;
   height: 50px;
   
    
}

header h2{
color: red;
margin: 10px;


}

nav{
    background-color:rgb(28,27,26);
    border-width: 50%;
    width: 50%;
    height: auto;
    border-radius: 1rem;
    margin: 2%;
    text-align: center;

}


.container-1{
margin: 10%;
   margin-top: 7%;
   border: 20px;
  
}

.container-1 h1{
    color: white;
    font-family: 'Open Sans', sans-serif;;
  
}

.container-1 input{
    background-color: rgb(28,27,26);
    opacity: .6;
    border: 2px solid white;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-top: 7%;
    font-size: 20px;
}

nav{
    margin-bottom: 5%;
}
nav button{
    border-style: hidden;
    background-color: green;
    width: 20%;
    height: 40px;
    margin-top: 10% ;
    /* margin-right: 10%; */
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
nav button:nth-of-type(2) {
    border-style: hidden;
    background-color:red;
    width: 20%;
    height: 40px;
    margin-top: 5% ;
    /* margin-right: 10%; */
    border-radius: 10px;;
    font-size: 20px;
    color: white;
}

main{
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 10px;
    color: #fff;

}
main img{
    width: 30px;
    margin-top: 5%;
}

main p{
    text-align: justify;
    margin: 5%;
}
main h3{
    text-align: justify;
    margin: 5%;
}
main li{
    text-align: justify;
    margin: 5%;
    line-height: 10%;
}


